@{ ViewBag.Title = "User: Create Your Account"; }
<form method="post" action="@Url.Action("AddName")">
    <div>
    Enter your name: <input type="text" name="name" value="" />
    </div>
    <div>
    <input type="submit" value="Continue" />
    </div>
</form>