@{ ViewBag.Title = "Training:Pal"; }
<p>
Training schedule builder.
</p>
<p>
Wizard:
</p>
<ol>
<li>Pick basic schedule (e.g. 10K: 8 weeks @@ 3 times a week)</li>
<li>Pick race day</li>
<li>Choose days: M T W T F S S</li>
<li>Pick from Pace Guide (VDOT) - link into calculator.</li>
<li>Show schedule and allow customize</li>
<li>Add to Calendar (Run:Log)</li>
</ol>
